@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;

  .formSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-bottom: 2rem;

    h4 {
      grid-column: 1 / -1;
      font-size: 1.125rem;
      font-weight: 600;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .bx--combo-box,
    .bx--text-input,
    .bx--checkbox-wrapper,
    .bx--date-picker {
      width: 100%;
    }

    .bx--checkbox-wrapper {
      display: flex;
      align-items: center;
    }
  }

  .bx--btn {
    justify-self: start;
    grid-column: 1 / -1;
  }

  .bx--data-table-container {
    margin-top: 2rem;
  }

  .bx--btn--ghost {
    margin-left: 0.5rem;
  }
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0;
}

.spinner {
  &:global(.cds--inline-loading) {
      min-height: layout.$spacing-05;
  }
}


.formFooter {
  margin-top: layout.$spacing-05;
  padding-top: layout.$spacing-05;
  background-color: $ui-02;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.formContainer {
  flex-grow: 1;
  margin: layout.$spacing-05;
}

.required {
  color: colors.$red-60;
  margin-left: layout.$spacing-01;
}

.subheading {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.addBtn {
  margin-left: auto;
}

/* Card container */
.widgetCard {
  border: 1px solid $ui-03;
  width: 100%;
  border-bottom: none;
}

/* Right-aligned header actions */
.headerActions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

:global(.cds--form-item ) {
  margin-bottom: 1rem;
}